.menu {
    display: flex;
    button {
        color: black;
        margin: 2px;
        font-size: 20px;
        
    }
    button:hover {
        color: white;
        background-color: rgb(218, 206, 206);
        font-weight: bolder;
        border-radius: 5px;
        
    }
}

.menu-NavLink {
    color: black;
    margin: 2px;
    font-size: 20px;
    text-decoration: none;
    
}

.active-menu-NavLink {
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: none;
}

.submenu {
    display:none;
}

.category:hover {
    display: flex;
}

.navlink {
    color: black;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
}
.navlink:hover {
    color: white;
    background-color: rgb(218, 206, 206);
    font-weight: bolder;
    border-radius: 5px;
}


